.featuresContainer {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 50px;
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url("https://cdn.prod.website-files.com/64e10aa388168f56d36f2dae/65df3b3d6fcd4d32f1ac66c3_Header%20Section%20Shape%20Line-p-2000.webp");
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  color: var(--text-color);
}
.featuresbos {
  width: 300px;
  height: 280px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease-in;
}
.image {
  width: 30%;
background-color: white;
border-radius: 50%;
  padding: 10px;
}
.image img {
  width: 100%;
  padding: 10px;
}
.featuresbos h1 {
  padding-top: 10px;
  font-size: 24px;

}
.featuresbos p {
padding: 0px 20px;
  font-size: 16px;
}
.featuresbos:hover {
  transform: scale(1.1);
}
@media (max-width: 800px) {
  .featuresContainer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
    background-position: center;
  }

  .featuresbos {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
  }
  .image {

 width: 25%;
padding: 12px 12px;
margin-top: 10px;
  }
  .image img {
    width: 100%;
  }

  .featuresbos h1 {
    font-size: 20px;
  }

  .featuresbos p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .featuresbos {
    width: 75%;
    height: auto;
    margin-bottom: 20px;
  }
  .image {
    width: 30%;
    padding: 20px;
  }
  .image img {
    width: 100%;
    
  }

  .featuresbos h1 {
    font-size: 18px;
  }

  .featuresbos p {
    font-size: 12px;
  }
}
